:root {
	--color-background-primary:  #fafafa;
	--color-background-secondary: #fff;
	--color-accent: #2196f3;
	--color-border: #e0e0e0;
	--color-text-primary: #212121;
}
  
[data-theme="dark"] {
	--color-background-primary: #212d37;
	--color-background-secondary: #2b3743;
	--color-accent: #2196f3;
	--color-border: #2e2e2e;
	--color-text-primary: #fff;
}